<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codminskeyboards.universekeyboard">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".utils.UniverseKeyboardApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.codminskeyboards.universekeyboard.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".customkeyboard.SoftKeyboard"
            android:label="Universe Keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".activity.CreateKeyboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.codminskeyboards.universekeyboard.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.codminskeyboards.universekeyboard.activity.PackageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.codminskeyboards.universekeyboard.activity.SetKeyboardActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.codminskeyboards.universekeyboard.utils.MyDownloadService"
            android:enabled="true"
            android:exported="true" />
        <!--If your targetSdkVersion is 24 or higher, we have to use FileProvider class to give access to the particular file or folder to make them accessible for other apps.-->

        <!--Steps to replace file:// uri with content:// uri:-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.ca-app-pub-2002759323605741~1307687673"
            android:value="ca-app-pub-2002759323605741~1307687673"/>

    </application>

</manifest>
