<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibl.apps.myphotokeyboard">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".utils.MyPhotoKeyboardApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ibl.apps.myphotokeyboard.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.ibl.apps.myphotokeyboard.customkeyboard.SoftKeyboard"
            android:label="My Photo Keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name="com.ibl.apps.myphotokeyboard.activity.CreateKeyboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ibl.apps.myphotokeyboard.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ibl.apps.myphotokeyboard.activity.CropActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ibl.apps.myphotokeyboard.subscriptionmenu.PackageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ibl.apps.myphotokeyboard.activity.SetKeyboardActivity"
            android:screenOrientation="portrait" />


        <service
            android:name="com.ibl.apps.myphotokeyboard.utils.MyDownloadService"
            android:enabled="true"
            android:exported="true" />
        <!--If your targetSdkVersion is 24 or higher, we have to use FileProvider class to give access to the particular file or folder to make them accessible for other apps.-->

        <!--Steps to replace file:// uri with content:// uri:-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ae8696c9f626fd42728f7563dcd18f9e781c6a2a" />

    </application>

</manifest>
