<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codminskeyboards.universekeyboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".utils.UniverseKeyboardApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.codminskeyboards.universekeyboard.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".customkeyboard.SoftKeyboard"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".activity.CreateKeyboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.codminskeyboards.universekeyboard.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.codminskeyboards.universekeyboard.activity.PremiumStoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.codminskeyboards.universekeyboard.activity.SetKeyboardActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".customkeyboard.ImePreferences" />

        <meta-data
            android:name="com.google.android.gms.ads.ca-app-pub-2002759323605741~1307687673"
            android:value="ca-app-pub-2002759323605741~1307687673" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c4a1512bf4a2afcc9e8d86c6be73f0353f819f95" />
    </application>

</manifest>
